
<p></p>
<%= form_with(model: textbook, local: true) do |form| %>
  <% if textbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(textbook.errors.count, "error") %> prohibited this textbook from being saved:</h2>

      <ul>
        <% textbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container p-3 my-3 border">
  <div class="form-group">
    <%= form.label :系号 %>
    <%= form.text_field :department ,{class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :学期 %>
    <%= form.text_field :term ,{class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :教材名 %>
    <%= form.text_field :bookname  ,{class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :作者 %>
    <%= form.text_field :author ,{class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :出版社 %>
    <%= form.text_field :press  ,{class:"form-control"}%>
  </div>

  <div class="actions">
    <%= form.submit "确认",class:"btn btn-primary"%>
  </div>
  </div>
<% end %>
