
<p>
  <strong>系号:</strong>
  <%= @textbook.department %>
</p>

<p>
  <strong>学期:</strong>
  <%= @textbook.term %>
</p>

<p>
  <strong>书名:</strong>
  <%= @textbook.bookname %>
</p>

<p>
  <strong>作者:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>出版社:</strong>
  <%= @textbook.press %>
</p>

<%= link_to '返回', textbooks_path %>
