<p></p>
<li class="list-group-item">
  <strong>系号:</strong>
  <%= @textbook.department %>
</li>

<li class="list-group-item">
  <strong>学期:</strong>
  <%= @textbook.term %>
</li>

<li class="list-group-item">
  <strong>书名:</strong>
  <%= @textbook.bookname %>
</li>

<li class="list-group-item">
  <strong>作者:</strong>
  <%= @textbook.author %>
</li>

<li class="list-group-item">
  <strong>出版社:</strong>
  <%= @textbook.press %>
</li>
<p></p>
<%= link_to '返回', textbooks_path %>
