<p id="notice"><%= notice %></p>

<p>
  <strong>学号:</strong>
  <%= @student.id %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>性别:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>系号:</strong>
  <%= @student.department %>
</p>

<p>
  <strong>注册日期:</strong>
  <%= @student.registration %>
</p>

<p>
  <strong>有效期:</strong>
  <%= @student.validity %>
</p>

<p>
  <strong>信用分:</strong>
  <%= @student.credit %>
</p>

<%= link_to '编辑', edit_student_path(@student) %> |
<%= link_to '返回', students_path %>
