<h1>高级检索</h1>

<%= form_with model: @textbooksearch do |f| %>
  <%= f.label :教材名 %>
  <%= f.text_field :bookname %>

  <%= f.label :系号 %>
  <%= f.select :department, options_for_select(@departments), include_blank: true %><br>

  <%= f.label :学期 %>
  <%= f.select :term, options_for_select(@terms), include_blank: true%><br><br>

  <%= f.submit "搜索" %>
<% end %>

<p><%= link_to "返回", '/textbooks' %></p>