<h1>高级检索</h1>
<div class="container p-3 my-3 border">
<%= form_with model: @textbooksearch do |f| %>
  <div class="form-group">
    <%= f.label :教材名 %>
    <%= f.text_field :bookname %>
  </div>

  <div class="form-group">
  <%= f.label :系号 %>
  <%= f.select :department, options_for_select(@departments), include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :学期 %>
    <%= f.select :term, options_for_select(@terms), include_blank: true %>
  </div>



  <%= f.submit "搜索" %>
<% end %>
</div>
<p><%= link_to "返回", '/textbooks' %></p>