<h1>Search Results</h1>
<p><%= link_to "Back", new_textbooksearch_path %></p>

<% if @textbooksearch.textbooksearch_textbook.empty? %>
  <p>No Textbook were found.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>department</th>
      <th>term</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @textbooksearch.textbooksearch_textbook.each do |textbook| %>
      <tr>
        <td><%= textbook.bookname %></td>
        <td><%= textbook.department %></td>
        <td><%= textbook.term %></td>
        <td><%= link_to 'Show', textbook %></td>
        <td><%= link_to 'Edit', edit_textbook_path(textbook) %></td>
        <td><%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>