<p id="notice"><%= notice %></p>

<h1>Unaffirmedbooks</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Bookid</th>
      <th>Booktitle</th>
      <th>Expected</th>
      <th>Returndate</th>
      <th>Overdue</th>
      <th>Borrowerid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unaffirmedbooks.each do |unaffirmedbook| %>
      <tr>
        <td><%= unaffirmedbook.id %></td>
        <td><%= unaffirmedbook.bookid %></td>
        <td><%= unaffirmedbook.booktitle %></td>
        <td><%= unaffirmedbook.expected_return %></td>
        <td><%= unaffirmedbook.returndate %></td>
        <td><%= unaffirmedbook.overdue %></td>
        <td><%= unaffirmedbook.borrowerid %></td>
        <td><%= link_to 'Show', unaffirmedbook %></td>
        <td><%= link_to 'Edit', edit_unaffirmedbook_path(unaffirmedbook) %></td>
        <td><%= link_to 'Destroy', unaffirmedbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to '确认归还', unaffirmedbook_path(id: unaffirmedbook.id, book_id: unaffirmedbook.bookid,book_title: unaffirmedbook.booktitle,
                                                    overdue: unaffirmedbook.overdue, borrower_id: unaffirmedbook.borrowerid),
                        method: :delete, data: { confirm: '确定还书？'} %></td>
        <td><%= link_to '图书损坏', new_damagebook_path(:book_id => unaffirmedbook.bookid, :book_title => unaffirmedbook.booktitle,
                :borrower_id => unaffirmedbook.borrowerid) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unaffirmedbook', new_unaffirmedbook_path %>
