<p >

</p>
<h1>待确认图书</h1>

<table class="table">
  <thead>
    <tr>
      <th>图书编号</th>
      <th>书名</th>
      <th>借阅者学号</th>
      <th>规定归还日期</th>
      <th>实际归还日期</th>
      <th>是否逾期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unaffirmedbooks.each do |unaffirmedbook| %>
      <tr>
        <td><%= unaffirmedbook.bookid %></td>
        <td><%= unaffirmedbook.booktitle %></td>
        <td><%= unaffirmedbook.borrowerid %></td>
        <td><%= unaffirmedbook.expected_return %></td>
        <td><%= unaffirmedbook.returndate %></td>
        <td><%= unaffirmedbook.overdue %></td>
        <td><%= link_to '确认归还', unaffirmedbook_path(id: unaffirmedbook.id, book_id: unaffirmedbook.bookid,book_title: unaffirmedbook.booktitle,
                                                    overdue: unaffirmedbook.overdue, borrower_id: unaffirmedbook.borrowerid),
                        method: :delete, data: { confirm: '确定还书？'},class: "btn btn-success",style: "color: white;font-size:10px;font-weight:bold"  %></td>
        <td><%= link_to '图书损坏', new_damagebook_path(:book_id => unaffirmedbook.bookid, :book_title => unaffirmedbook.booktitle,
                :borrower_id => unaffirmedbook.borrowerid) ,class: "btn btn-danger" ,style: "color:white;font-size:10px;font-weight:bold"%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

