<p id="notice"><%= notice %></p>

<h1>当前借阅列表</h1>

<table>
  <thead>
    <tr>
      <th>图书编号</th>
      <th>书名</th>
      <th>借阅者id</th>
      <th>借阅时间</th>
      <th>预计归还日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if user_signed_in? %>
    <% if current_user.student? %>
    <% @my_borrowtables.each do |borrowtable| %>
      <tr>

        <td><%= borrowtable.bookid %></td>
        <td><%= borrowtable.bookname %></td>
        <td><%= borrowtable.borrowerid %></td>
        <td><%= borrowtable.borrowdate %></td>
        <td><%= borrowtable.returndate %></td>
        <% if current_user.student? %>
          <td><%= link_to '还书', borrowtable_path(id: borrowtable.id, book_id: borrowtable.bookid, book_title: borrowtable.bookname,
                                               borrower_id: borrowtable.borrowerid, return_date: borrowtable.returndate),
                        method: :delete, data: { confirm: '确定还书？'} %></td>
        <% end %>

      </tr>
    <% end %>
  <% end %>

    <% if current_user.admin? %>
      <% @borrowtables.each do |borrowtable| %>
        <tr>

          <td><%= borrowtable.bookid %></td>
          <td><%= borrowtable.bookname %></td>
          <td><%= borrowtable.borrowerid %></td>
          <td><%= borrowtable.borrowdate %></td>
          <td><%= borrowtable.returndate %></td>
          <td><%= link_to '详细信息', borrowtable %></td>
          <td><%= link_to '删除本条记录', borrowtable, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    <% end %>

    <% end %>
  </tbody>
</table>

<br>


