<p id="notice"><%= notice %></p>

<p>
  <strong>图书编号:</strong>
  <%= @borrowtable.bookid %>
</p>

<p>
  <strong>书名:</strong>
  <%= @borrowtable.bookname %>
</p>

<p>
  <strong>借阅人学号:</strong>
  <%= @borrowtable.borrowerid %>
</p>

<p>
  <strong>借阅时间:</strong>
  <%= @borrowtable.borrowdate %>
</p>

<p>
  <strong>归还时间:</strong>
  <%= @borrowtable.returndate %>
</p>

<%= link_to 'Edit', edit_borrowtable_path(@borrowtable) %> |
<%= link_to 'Back', borrowtables_path %>
