<p id="notice"><%= notice %></p>

<p>
  <strong>Authorid:</strong>
  <%= @author.authorid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @author.nationality %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @author.birthdate %>
</p>

<p>
  <strong>Death:</strong>
  <%= @author.death %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
