<p id="notice"><%= notice %></p>

<p>
  <strong>Bookcaseid:</strong>
  <%= @bookcase.bookcaseid %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @bookcase.floor %>
</p>

<p>
  <strong>Partition:</strong>
  <%= @bookcase.partition %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bookcase.number %>
</p>

<p>
  <strong>Line:</strong>
  <%= @bookcase.line %>
</p>

<p>
  <strong>Column:</strong>
  <%= @bookcase.column %>
</p>

<%= link_to 'Edit', edit_bookcase_path(@bookcase) %> |
<%= link_to 'Back', bookcases_path %>
