<p>

</p>
<% if !user_signed_in? %>
  <h1>请点击右上角登录，没有账号请联系管理员</h1>
<% end %>

<% if user_signed_in? %>
  <h1>图书信息</h1>

  <%= form_with(url: '/books', method: 'get', local: true) do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("搜索",class:"btn btn-primary",style: "font-size:10px;font-weight:100px")%>
  <% end %>

  <%= link_to "高级检索", new_search_path %>

<table class="table">
  <thead>
    <tr>
      <th>图书编号</th>
      <th>书名</th>
      <th>作者</th>
      <th>出版社</th>
      <th>价格</th>
      <th>入库日期</th>
      <th>图书类别</th>
      <th>图书状态</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.press %></td>
        <td><%= book.price %></td>
        <td><%= book.intime %></td>
        <td><%= book.category %></td>
        <td><%= book.state %></td>
        <td><%= link_to '详细信息', book,class: "btn btn-success",style: "color: white;font-size:10px;font-weight:bold" %></td>
        <% if current_user.admin? %>
          <td><%= link_to '编辑信息', edit_book_path(book) ,class: "btn btn-warning" ,style: "color:white;font-size:10px;font-weight:bold"%></td>
          <td><%= link_to '删除', book, method: :delete, data: { confirm: '确定删除图书?'},class: "btn btn-danger" ,style: "color:white;font-size:10px;font-weight:bold" %></td>
        <% end %>
        <% if current_user.student? %>
          <% if book.state == "已借阅" || book.state == "已损坏" || book.state == "丢失"%>
            <td><%= "暂时无法借阅" %></td>
          <% else %>
            <% if current_user.student.credit < 60 %>
              <td><%= "信用分过低" %></td>
            <% else %>
              <td><%= link_to '借阅本书', new_borrowtable_path(:book_id => book.id, :book_title => book.title),class: "btn btn-primary",style: "color:white;font-size:10px;font-weight:bold" %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to '新增图书', new_book_path,class: "btn btn-primary",style: "color:white" %>
<% end %>
<% end %>