<p id="notice"><%= notice %></p>

<p>
  <strong>图书编号:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>书名:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>作者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>出版社:</strong>
  <%= @book.press %>
</p>

<p>
  <strong>价格:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>入库时间:</strong>
  <%= @book.intime %>
</p>

<p>
  <strong>类别:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>图书状态:</strong>
  <%= @book.state %>
</p>

<%= link_to '返回', books_path %>
