<%= form_with(model: lostbook, local: true) do |form| %>
  <% if lostbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lostbook.errors.count, "error") %> prohibited this lostbook from being saved:</h2>

      <ul>
        <% lostbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card" style="width: 18rem;background: cornflowerblue">
    <div class="card-header">
      详细信息
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>图书编号:</strong>
        <%= params[:book_id] %>
      </li>
      <li class="list-group-item">
        <strong>书名:</strong>
        <%= params[:book_title] %>
      </li>
      <li class="list-group-item">
        <strong>丢失时间:</strong>
        <%= Date.today %>
      </li>
      <li class="list-group-item">
        <strong>借阅人学号:</strong>
        <%= current_user.userid %>
      </li>

    </ul>
  </div>

  <%= hidden_field_tag :book_id, params[:book_id] %>

  <%= hidden_field_tag :book_title, params[:book_title] %>

  <%= hidden_field_tag :lost_date, Date.today %>

  <%= hidden_field_tag :borrowerid, current_user.userid %>


  <div class="actions">
    <%= form.submit "确认",class:"btn btn-primary"%>
  </div>
<% end %>