
<div class="card" style="width: 18rem;background: cornflowerblue">
  <div class="card-header">
    详细信息
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>图书编号:</strong>
      <%= @lostbook.bookid %>
    </li>
    <li class="list-group-item">
      <strong>书名:</strong>
      <%= @lostbook.booktitle %>
    </li>
    <li class="list-group-item">
      <strong>丢失时间:</strong>
      <%= @lostbook.lostdate%>
    </li>
    <li class="list-group-item">
      <strong>借阅人学号:</strong>
      <%= @lostbook.borrowerid%>
    </li>

  </ul>
</div>


<%= link_to '返回', borrowtables_path %>
