<p id="notice"><%= notice %></p>

<h1>Bookclasees</h1>

<table>
  <thead>
    <tr>
      <th>Classid</th>
      <th>Classname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookclasees.each do |bookclasee| %>
      <tr>
        <td><%= bookclasee.classid %></td>
        <td><%= bookclasee.classname %></td>
        <td><%= link_to 'Show', bookclasee %></td>
        <td><%= link_to 'Edit', edit_bookclasee_path(bookclasee) %></td>
        <td><%= link_to 'Destroy', bookclasee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookclasee', new_bookclasee_path %>
