<h1>高级检索</h1>

<%= form_with model: @search do |f| %>
  <%= f.label :书名 %>
  <%= f.text_field :title %>

  <%= f.label :作者 %>
  <%= f.select :author, options_for_select(@authors), include_blank: true %><br>

  <%= f.label :出版社 %>
  <%= f.select :press, options_for_select(@presses), include_blank: true %><br><br>

  <%= f.submit "搜索" %>
<% end %>

<p><%= link_to "返回", '/books' %></p>