<h1>Search Results</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @search.search_book.empty? %>
  <p>No book were found.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Press</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @search.search_book.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.press %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>