
<p></p>
<%= form_with(model: journal, local: true) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container p-3 my-3 border">
  <div class="form-group">
    <strong>报刊编号：</strong>
    <%= @journal.journalid %>
  </div>

  <div class="form-group">
    <%= form.label :报刊名 %>
    <%= form.text_field :journalname ,{class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :类别 %>
    <%= form.collection_select :journaltype,Journal.journaltypes.map { |a|
      [a.first,a.first]}, :first, :second ,{class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :发行日期 %>
    <%= form.date_select :date ,{class:"form-control"}%>
  </div>


  <div class="actions">
    <%= form.submit "确认",class:"btn btn-primary"%>
  </div>
  </div>
<% end %>
