<%= form_with(model: journal, local: true) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :报刊编号 %>
    <%= form.text_field :journalid %>
  </div>

  <div class="field">
    <%= form.label :报刊名 %>
    <%= form.text_field :journalname %>
  </div>

  <div class="field">
    <%= form.label :类别 %>
    <%= form.collection_select :journaltype,Journal.journaltypes.map { |a|
      [a.first,a.first]}, :first, :second %>
  </div>

  <div class="field">
    <%= form.label :发行日期 %>
    <%= form.date_select :date %>
  </div>


  <div class="actions">
    <%= form.submit "确认"%>
  </div>
<% end %>
