
<h1>报刊列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>报刊编号</th>
      <th>刊名</th>
      <th>类别</th>
      <th>发行日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.journalid %></td>
        <td><%= journal.journalname %></td>
        <td><%= journal.journaltype %></td>
        <td><%= journal.date %></td>
        <% if current_user.admin? %>
          <td><%= link_to '编辑信息', edit_journal_path(journal),class: "btn btn-warning" ,style: "font-size:10px;font-weight:bold" %></td>
          <td><%= link_to '删除', journal, method: :delete, data: { confirm: '确定删除报刊?' },class: "btn btn-danger" ,style: "color:black;font-size:10px;font-weight:bold" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to '新增报刊', new_journal_path,class: "btn btn-primary",style: "color:white" %>
<% end %>
<% end %>