<p id="notice"><%= notice %></p>

<h1>报刊列表</h1>

<table>
  <thead>
    <tr>
      <th>报刊编号</th>
      <th>刊名</th>
      <th>类别</th>
      <th>发行日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.journalid %></td>
        <td><%= journal.journalname %></td>
        <td><%= journal.journaltype %></td>
        <td><%= journal.date %></td>
        <% if current_user.admin? %>
          <td><%= link_to '编辑报刊信息', edit_journal_path(journal) %></td>
          <td><%= link_to '删除报刊', journal, method: :delete, data: { confirm: '确定删除报刊?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to '新增报刊', new_journal_path %>
<% end %>
<% end %>