<p id="notice"><%= notice %></p>

<p>
  <strong>Journalid:</strong>
  <%= @journal.journalid %>
</p>

<p>
  <strong>Journalname:</strong>
  <%= @journal.journalname %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
