

<div class="card" style="width: 18rem;background: cornflowerblue">
  <div class="card-header">
    详细信息
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>报刊编号:</strong>
      <%= @journal.journalid %>
    </li>
    <li class="list-group-item">
      <strong>报刊名:</strong>
      <%= @journal.journalname %>
    </li>
    <li class="list-group-item">
      <strong>类别:</strong>
      <%= @journal.journaltype %>
    </li>
    <li class="list-group-item">
      <strong>发行日期:</strong>
      <%= @journal.date %>
    </li>

    </li>
  </ul>
</div>
<%= link_to '返回', journals_path %>
