<p id="notice"><%= notice %></p>

<p>
  <strong>报刊编号:</strong>
  <%= @journal.journalid %>
</p>

<p>
  <strong>报刊名:</strong>
  <%= @journal.journalname %>
</p>

<p>
  <strong>类别:</strong>
  <%= @journal.journaltype %>
</p>

<p>
  <strong>发行日期:</strong>
  <%= @journal.date %>
</p>

<%= link_to '返回', journals_path %>
