<p>

</p>
<%= form_with(model: damagebook, local: true) do |form| %>
  <% if damagebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(damagebook.errors.count, "error") %> prohibited this damagebook from being saved:</h2>

      <ul>
        <% damagebook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <li class="list-group-item">
      <strong>图书编号:</strong>
      <%= params[:book_id] %>
    </li>

    <li class="list-group-item">
      <strong>书名:</strong>
      <%= params[:book_title] %>
    </li>


    <li class="list-group-item">
    <strong>借阅者学号:</strong>
    <%= params[:borrower_id] %>
  </li>

    <li class="list-group-item">
    <strong>损坏日期:</strong>
    <%= Date.today %>
  </li>

  <%= hidden_field_tag :book_id, params[:book_id] %>

  <%= hidden_field_tag :book_title, params[:book_title] %>

  <%= hidden_field_tag :borrower_id, params[:borrower_id] %>

  <%= hidden_field_tag :damage_date, Date.today %>

  <li class="list-group-item">
    <div class="form-group">
      <strong>损坏等级:</strong>
    <%= form.collection_select :level,Damagebook.levels.map { |a|
      [a.first,a.first]}, :first, :second ,{class:"form-control"}%>
  </div>
  </li>


  <p>

  </p>
  <div class="actions">
    <%= form.submit "确认"%>
  </div>
<% end %>
