<%= form_with(model: damagebook, local: true) do |form| %>
  <% if damagebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(damagebook.errors.count, "error") %> prohibited this damagebook from being saved:</h2>

      <ul>
        <% damagebook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>图书编号:</strong>
    <%= params[:book_id] %>
  </p>

  <p>
    <strong>书名:</strong>
    <%= params[:book_title] %>
  </p>

  <p>
    <strong>借阅者学号:</strong>
    <%= params[:borrower_id] %>
  </p>

  <p>
    <strong>损坏日期:</strong>
    <%= Date.today %>
  </p>

  <%= hidden_field_tag :book_id, params[:book_id] %>

  <%= hidden_field_tag :book_title, params[:book_title] %>

  <%= hidden_field_tag :borrower_id, params[:borrower_id] %>

  <%= hidden_field_tag :damage_date, Date.today %>


  <div class="field">
    <%= form.label :损坏等级 %>
    <%= form.collection_select :level,Damagebook.levels.map { |a|
      [a.first,a.first]}, :first, :second %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
