<p id="notice"><%= notice %></p>

<h1>损坏图书</h1>

<table>
  <thead>
    <tr>
      <th>图书编号</th>
      <th>书名</th>
      <th>损坏等级</th>
      <th>损坏日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @damagebooks.each do |damagebook| %>
      <tr>
        <td><%= damagebook.bookid %></td>
        <td><%= damagebook.bookname %></td>
        <td><%= damagebook.level %></td>
        <td><%= damagebook.date %></td>
        <td><%= link_to 'Show', damagebook %></td>
        <td><%= link_to 'Edit', edit_damagebook_path(damagebook) %></td>
        <td><%= link_to 'Destroy', damagebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to '修复完成，出库', damagebook_path(id: damagebook.id, book_id: damagebook.bookid,
                                                   book_title: damagebook.bookname),
                        method: :delete, data: { confirm: '确定出库?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

