<p id="notice"><%= notice %></p>

<p>
  <strong>Bookid:</strong>
  <%= @damagebook.bookid %>
</p>

<p>
  <strong>Bookname:</strong>
  <%= @damagebook.bookname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @damagebook.level %>
</p>

<p>
  <strong>Date:</strong>
  <%= @damagebook.date %>
</p>

<%= link_to 'Edit', edit_damagebook_path(@damagebook) %> |
<%= link_to 'Back', damagebooks_path %>
