<p id="notice"><%= notice %></p>

<p>
  <strong>图书编号:</strong>
  <%= @damagebook.bookid %>
</p>

<p>
  <strong>书名:</strong>
  <%= @damagebook.bookname %>
</p>

<p>
  <strong>损坏等级:</strong>
  <%= @damagebook.level %>
</p>

<p>
  <strong>损坏日期:</strong>
  <%= @damagebook.date %>
</p>

<%= link_to '返回', damagebooks_path %>
