<p>

</p>
<li class="list-group-item">
  <strong>图书编号:</strong>
  <%= @damagebook.bookid %>
</li>

<li class="list-group-item">
  <strong>书名:</strong>
  <%= @damagebook.bookname %>
</li>

<li class="list-group-item">
  <strong>损坏等级:</strong>
  <%= @damagebook.level %>
</li>

<li class="list-group-item">
  <strong>损坏日期:</strong>
  <%= @damagebook.date %>
</li>
<p>

</p>
<%= link_to '返回', damagebooks_path %>
