<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
        <% material.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departmentid %>
    <%= form.text_field :departmentid %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term %>
  </div>

  <div class="field">
    <%= form.label :bookname %>
    <%= form.text_field :bookname %>
  </div>

  <div class="field">
    <%= form.label :authorname %>
    <%= form.text_field :authorname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
