<p id="notice"><%= notice %></p>

<h1>教材清单</h1>

<table>
  <thead>
    <tr>
      <th>系号</th>
      <th>学期</th>
      <th>教材名称</th>
      <th>作者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.departmentid %></td>
        <td><%= material.term %></td>
        <td><%= material.bookname %></td>
        <td><%= material.authorname %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
