<p id="notice"><%= notice %></p>

<h1>教材清单</h1>

<table class="table">
  <thead class="table">
    <tr>
      <th>系号</th>
      <th>学期</th>
      <th>教材名称</th>
      <th>作者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.departmentid %></td>
        <td><%= material.term %></td>
        <td><%= material.bookname %></td>
        <td><%= material.authorname %></td>
        <td><%= link_to '详细信息', material ,class: "btn btn-primary"%></td>
        <td><%= link_to '编辑', edit_material_path(material),class: "btn btn-warning" %></td>
        <td><%= link_to '删除', material, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
