<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LibraryManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">图书馆管理系统</a>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= render 'layouts/nav_link', text: "学生信息", ctrl: "students" %>
          <%= render 'layouts/nav_link', text: "待确认图书", ctrl: "unaffirmedbooks" %>
          <%= render 'layouts/nav_link', text: "损坏图书", ctrl: "damagebooks" %>
        <% end %>
        <%= render 'layouts/nav_link', text: "图书列表", ctrl: "books" %>
        <%= render 'layouts/nav_link', text: "报刊", ctrl: "journals" %>
        <%= render 'layouts/nav_link', text: "教材清单", ctrl: "textbooks" %>
        <%= render 'layouts/nav_link', text: "当前借阅列表", ctrl: "borrowtables" %>
        <%= render 'layouts/nav_link', text: "历史借阅记录", ctrl: "historyborrowtables" %>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <span class="nav-link"><%= current_user.display_name %></span>
        </li>
        <li class="nav-item">
          <%= link_to "注销", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "注册", new_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "登录", new_user_session_path, :class => 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>

<div class="container">

  <% if notice %><p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %><p class="alert alert-warning"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
